@model DreamFlights.Models.Flight_Schedule

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<script>
    var idleTime = 0;
    $(document).ready(function () {
        //Increment the idle time counter every minute.
        var idleInterval = setInterval(timerIncrement, 1000); // 每隔1秒检查一次鼠标是否有动静,如果有则刷新登陆cookie的时间
        //var idleIntervalReload = setInterval(timerIncrementReload, 1500);

        //Zero the idle timer on mouse movement.
        $(this).mousemove(function (e) {
            idleTime = 0;
        });
        $(this).keypress(function (e) {
            idleTime = 0;
        });
    });

    // 每隔1秒检查一次鼠标是否有动静,如果有则刷新登陆cookie的时间;每隔1秒都检查一次无操作时间是否到达5秒,如果到达了就刷新一次页面
    function timerIncrement() {
        idleTime = idleTime + 1;
        if (idleTime > 25) { // 25 seconds
            window.location.reload();
        } else if (idleTime === 1) {
            $.ajax({
                    url: '@Url.Action("Validate", "Flight_Schedule")',  // 生成一个url,表示跳转到控制器下”Approver”下的"Validate"方法
                    type: "post"
             });
        }
    }
</script>

<h4>Flight_Schedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Flight_ScheduleID" />
            <div class="form-group">
                <label class="control-label">FromCityID</label>
                <select name="FromCityID" class="form-control" asp-items="ViewBag.FromCityID"></select>
            </div>
            <div class="form-group">
                <label class="control-label">ToCityID</label>
                <select name="ToCityID" class="form-control" asp-items="ViewBag.ToCityID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DepartDateTime" class="control-label"></label>
                <input asp-for="DepartDateTime" class="form-control" />
                <span asp-validation-for="DepartDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArriveDateTime" class="control-label"></label>
                <input asp-for="ArriveDateTime" class="form-control" />
                <span asp-validation-for="ArriveDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirCraftID" class="control-label"></label>
                <select asp-for="AirCraftID" class="form-control" asp-items="ViewBag.AirCraftID"></select>
                <span asp-validation-for="AirCraftID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Economy" class="control-label"></label>
                <input asp-for="Economy" class="form-control" />
                <span asp-validation-for="Economy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Business" class="control-label"></label>
                <input asp-for="Business" class="form-control" />
                <span asp-validation-for="Business" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PremEconomy" class="control-label"></label>
                <input asp-for="PremEconomy" class="form-control" />
                <span asp-validation-for="PremEconomy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="First" class="control-label"></label>
                <input asp-for="First" class="form-control" />
                <span asp-validation-for="First" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

